/* 全局样式表 */
html, body, #app {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
}
div {
    box-sizing: border-box;
}
/* 调整elementUI */
.el-menu {
    border: none;
}
.el-table .warning-row {
    background-color: oldlace ;
  }
.el-table .success-row {
background-color: #f0f9eb ;
}
.mt24 {
    margin-top: 24px;
}
.mb12 {
    margin-bottom: 12px;
}
.tcenter {
    text-align: center;
}
.mr12 {
    margin-right: 12px;
}
.ql-editor {
    min-height: 300px;
}